# 服务配置
server:
  port: 9002
# spring配置
spring:
  # 应用配置
  application:
    name: hrm-system
  # 数据库连接池
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/hrm?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: root
  # JPA
  jpa:
    database: mysql
    show-sql: true
    open-in-view: true